<div class = "container" align="center">
    <h1 style ="vertical-align:top"><img src="#"></h1>
    <h1> CHOOSE A FUCKING COLOR </h1>
    <div class="row" style="ba;">
        <form action="/home/index2">
            <div style="margin-top:30px">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-lg outline col-md-6">           
                        <div class="form-choice-selector-label as-dimension-label" aria-hidden="true">
                            <label class="form-label" id="Item2silver_label" for="Item2silver">
                                <span><em class="click-layer"></em> <div class="effect black"><img src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/f/in/finish/silver/finish-silver-201508?wid=64&amp;hei=64&amp;fmt=png-alpha&amp;qlt=80&amp;.v=-IckF0" alt="Silver" width="32" height="32" data-scale-params-1="wid=32&amp;hei=32&amp;fmt=png-alpha&amp;qlt=95&amp;.v=-IckF0" class="ir">
                                </div></span>
                                <span>Silver</span>
                            </label>
                        </div></button>
                    <button type="button" class="btn btn-primary btn-lg outline col-md-6">
                        <div class="form-choice-selector-label as-dimension-label" aria-hidden="true">
                            <label class="form-label" id="Item2gold_label" for="Item2gold">
                                <span><em class="click-layer"></em> <div class="effect black"><img src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/f/in/finish/gold/finish-gold-201508?wid=64&amp;hei=64&amp;fmt=png-alpha&amp;qlt=80&amp;.v=m_5kJ2" alt="Gold" width="32" height="32" data-scale-params-1="wid=32&amp;hei=32&amp;fmt=png-alpha&amp;qlt=95&amp;.v=m_5kJ2" class="ir">
                                </div></span>
                                <span>Gold</span>
                            </label>
                        </div>
                        </button>
                </div>
            </div>
            <br><br>
            <div>
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-lg outline col-md-6">
                        <div class="form-choice-selector-label as-dimension-label" aria-hidden="true">
                            <label class="form-label" id="Item2space_gray_label" for="Item2space_gray">
                                <span><em class="click-layer"></em> <div class="effect black"><img src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/f/in/finish/space/finish-space-gray-201508?wid=64&amp;hei=64&amp;fmt=png-alpha&amp;qlt=80&amp;.v=L-Oj10" alt="Space Gray" width="32" height="32" data-scale-params-1="wid=32&amp;hei=32&amp;fmt=png-alpha&amp;qlt=95&amp;.v=L-Oj10" class="ir">
                                </div></span>
                                <span>Space Gray</span>
                            </label>
                        </div>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg outline col-md-6">
                        <div class="form-choice-selector-label as-dimension-label" aria-hidden="true">
                            <label class="form-label" id="Item2rosegld_label" for="Item2rosegld">
                                <span><em class="click-layer"></em> <div class="effect black"><img src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/f/in/finish/rosegold/finish-rosegold-201509?wid=64&amp;hei=64&amp;fmt=png-alpha&amp;qlt=80&amp;.v=TohkT1" alt="Rose Gold" width="32" height="32" data-scale-params-1="wid=32&amp;hei=32&amp;fmt=png-alpha&amp;qlt=95&amp;.v=TohkT1" class="ir">
                                </div></span>
                                <span>Rose Gold</span>
                            </label>
                        </div>
                    </button>
                </div>
            </div>
        </form>    
    </div>
</div>