<div class = "container" align="center">
    <h1 style ="vertical-align:top"><img src="#"></h1>
    <h1> Choose Color </h1>
    <div class="row" style="ba;">
        <form action="/home/index2">
            <div style="margin-top:30px">
                <div class="col-md-6 col-md-offset-2">
                    <button type="submit" class="btn btn-default btn-md col-md-6"><img src="#"></button>
                    <button type="submit" class="btn btn-default btn-md col-md-6"><img src="#"></button>
                </div>
            </div>
            <br><br>
            <div>
                <div class="col-md-6 col-md-offset-2">
                    <button type="submit" class="btn btn-default btn-md col-md-6"><img src="#"></button>
                    <button type="submit" class="btn btn-default btn-md col-md-6"><img src="#"></button>
                </div>
            </div>
        </form>    
    </div>
</div>